{{#> layouts/main pageTitle=blogPost.title}}
    <h1>{{blogPost.title}}</h1>
    <p>{{blogPost.content}}</p>
    <p>By: {{blogPost.User.username}} | Published on: {{blogPost.createdAt}}</p>
    <h2>Comments</h2>
    <ul>
        {{#each blogPost.Comments}}
            <li>{{this.content}} - By: {{this.User.username}} | {{this.createdAt}}</li>
        {{/each}}
    </ul>
    <form action="/blog/post/{{blogPost.id}}/comment" method="POST">
        <textarea name="content" rows="4" cols="50"></textarea>
        <button type="submit">Submit Comment</button>
    </form>
    <a href="/">Homepage</a> | <a href="/blog/dashboard">Dashboard</a>
{{/layouts/main}}
