<h2>All Posts:</h2>
{{#each posts as |post|}}
  <div class="card mx-auto my-3">
    <div class="card-content">
      <span class="card-title"><a href="/post/{{id}}">{{title}}</a></span>
      <p>Posted by {{user.username}} on {{createdAt}}</p>
      <p>{{text}}</p>
    </div>
  </div>
{{/each}}
